.contacts{
  background-color:$bg-section;
  .contact__wrapper{
    padding-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contact__women{
      background-image: url('/assets/png/contact_woman\ 1.png');
      max-width: 400px;
      width: 100%;
      height:496.99px;
    }
    .contact__title{
      font-weight: 700;
    }

  }
}

//*------media-query ------*//

@include media-tablet {
  .contacts{
    height: 739px;
    .contact__wrapper{
      padding-top: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: inherit;
      .contact__women:nth-of-type(1){
        width: 200px;
        height: 250px;
        background-size: cover;
        order: 3;


      }
      .contact__title:nth-of-type(2){
        font-size: 25px;
        order: 1;

      }
      .dropdown{
        box-shadow: 0px 4px 4px 0px #00000075;
        top: -50px;
      }
      .dropdown:nth-of-type(3){
        order: 2;

      }
    }
  }
}
@include media-mobile {
  .contacts{
    .contact__wrapper{
      padding-top: 25px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 445px;
      .contact__women:nth-of-type(1){
        width: 100px;
        height: 125px;
        background-size: cover;
        order: 3;


      }
      .contact__title:nth-of-type(2){
        font-size: 25px;
        order: 1;

      }
      .dropdown{
        top: -50px;
      }
      .dropdown:nth-of-type(3){
        order: 2;

      }

    }
  }
}