button:hover {
  cursor: pointer;
}
.btn {
  border-color: $color-btn-border-primary;
  background-color: transparent;
  font-size: $font-size-btnText;
}
.welcome__btn {
  width: 158px;
  height: 44px;
  border: 2px solid $color-btn-border-primary;
  border-radius: 10px;
  color: #000;
}
.service__btn {
  width: 161px;
  height: 50px;
  border: 1px solid $color-btn-border-primary;
  font-family: $fontFamily-second;
  font-size: 20px;
  border-radius: 5px;
}
.call__btn {
  width: 162px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $color-btn-border-primary;
  font-family: $fontFamily-second;
  font-size: 20px;
  color: $color-btn-border-primary;
}
.prices__menu-btn {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: $bg-btn-price;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-family: $fontFamily-primary;
  font-weight: 700;
  gap: 54px;
}
.dropdown {
  position: relative;
  top: 53px;
  display: inline-block;
  width: 450px;
  height: 50px;
  .dropbtn {
    background-color: #d6e7d2;
    color: $color-h1-text;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: $fontFamily-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: inherit;
    height: inherit;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D6E7D2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: inherit;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 31px;
    padding-top: 27px;
    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: $fontFamily-primary;
      margin-top: 12px;
      color: #499a18;
      padding: 12px 16px;
      text-decoration: none;
      span {
        width: inherit;
      }
    }
  }
  .dropdown-content a:hover {
    color: $colo-text-primary;
    span {
      border-bottom: 1px solid $colo-text-primary;
      width: 380px;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #C1E698;
  .arrow-down{transform: rotate(180deg);}

}

//*------media-query ------*//

@include media-tablet {
  .welcome__btn {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
  .contact__btn {
    width: 450px;
  }
}
@include media-mobile {
  .btn {
    font-size: 1rem;
  }

  .contact__btn {
    width: 300px;
  }
  .prices__menu-btn {
    width: 180px;
    height: 49.72px;
  }
  .dropdown{
    width: 300px;
  }
  .service__btn {
    width: 121px;
    height: 35px;
  }
  .welcome__btn {
    font-size: 10px;
    width: 100px;
    height: 34.14px;
  }
}
