.city-card{
  width: 480px;
  height: 214px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px 55px;
  .card-list{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    li{
      width: 336px;
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .text-card{
        color: $colo-text-primary;
      }
    }
  }
}