*{
  box-sizing: border-box;
}

body{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
  @include media-tablet{
    max-width: 768px;
    overflow-x: hidden;
  }
  @include media-mobile{
    max-width: 380px;
    overflow-x: hidden;
  }
}
.main{
  display: flex;
  flex-direction: column;

}
.wrapper{
  max-width: 1220px;
  margin: 0 auto;
  @include media-tablet{
     max-width: 668px;
    overflow-x: hidden;

  }
  @include media-mobile {
    max-width: 330px;
    overflow-x: hidden;

  }

}
li{
  list-style: none;

}
a{
  text-decoration: none;
  color: $links-nav;
}
p{
  font-family: $fontFamily-primary;
  font-size: $fontPrim-size;
  font-weight: 400;
  letter-spacing: 0px;
  color: $colo-text-primary;
  margin: 0;
  @include media-tablet{
    font-size: $mobile-fontPrim-size ;
  }
  @include media-mobile{}
  font-size: $tablet-fontPrim-size ;

}
h1{
  font-family: $fontFamily-primary;
  font-size: $fontTitle-size;
  font-weight: 700;
  margin: 0;
  @include media-tablet{
    font-size: 35px;
   }
  @include media-mobile{
    font-size: $mobile-fontTitle-size;
  }
}
h2{
  font-family: $fontFamily-second;
  font-size: $fontSubtitle-size;
  font-weight: 400;
  color: $color-title-second;
  margin: 0;
  @include media-tablet{
    font-size: 35px;
  }
  @include media-mobile{
    font-size: 25px;
  }
}
span {
  font-size: $fontPrim-size;
  @include media-tablet{font-size: 1rem;}
  @include media-mobile{font-size: 1rem;}
}