$bg-section: #edf2ec;
$bg-btn-price: #edf2ec;
$links-nav: #010201;
$colo-text-primary: #636060;
$color-h1-text: #717171;
$color-title-second: #499a18;
$color-about: #e06733;
$color-btn-border-primary:#e06733;

//* --------font--------*//
$fontFamily-primary: Inter, sans-serif;
$fontFamily-second: Inika;
$fontPrim-size: 20px;
$fontTitle-size: 45px;
$fontSubtitle-size: 40px;
$fontAnotherSubTitle: 24px;
$font-size-btnText: 1rem;
$font-size-navText: 1rem;

//*---------- media font-size
$mobile-fontTitle-size: 25px;
$mobile-fontSubtitle-size: 25px;
$mobile-fontPrim-size: 15px;
$mobile-font-size-btnText: 15px;

//*------------- media-query width;
$tablet-width: 768px;
$mobile-width: 380px;
